@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
  height: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F2EDF3 ;
}

.white-bg{
  background-color: white ;
}

.outlet-content { 
  flex: 1;
}

.logo {
  font-size: 1.5rem;
  font-weight: 500;
}

.logo-container {
  display: flex;
  align-items: center;
}

.article-row {
  column-count: 3;
  column-gap: 1fr;
  margin: 2% auto;
}

.article{
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  }

  .title-light{
    color:  #21524e;
  }
  
  .article:hover{
   box-shadow: 1px 1px 20px  rgba(131, 129, 129, 0.123);
   transform: translateY(-5px);
   transition: ease-in-out 0.3s;
 }


.dark-bg{
   background: linear-gradient(71deg, #080509, #1a171c, #080509);
 }

.light-bg{    
background-color: #fff;
  

}

.welcome-msg{
  margin: 10% 0px;
}

.spinner{
  margin-top: 20%;
}

.image-container {
  width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
  background-color: #f0f0f0;
  border-radius: 8px;
}
.image-text{
text-align: center;
font-family: "Poppins", serif;
  font-optical-sizing: auto;
  font-size: 2em;
  font-weight: 200;
  font-style: normal;
}

.main-keywords{
  height: 20em;
  width:20em
}

.main-container{
  display: flex;
  justify-content: space-around;
}

.fixed-image {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.light-shadow {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075) !important;
}

.dark-shadow {
  box-shadow: 0 .1rem 0.1rem rgba(255, 255, 255, 0.371) !important;
}
.dark{
  background-color: #0e0e0e !important;
}

.fade-slide {
  opacity: 0;
  transform: translateX(50px);
  animation: fadeSlide 1s ease-in-out forwards;
}

.full-article{
  width: 60%;
  font-size: 3vh;
}

.full-article h1{
  font-size: 9vh;
}

.full-article .image-container{
  width: 70%;
  font-size: 4vh;
  margin: 5vh auto;
}

.full-article .content{
  text-align: left;
  margin: 5vh;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


/* ################## MEDIA QUERIES ################## */

@media (max-width: 220px) {
  body {
    margin-top: 50%;
  }
  .main-article {
    margin-left: 10%;
    width: 80%;
  }
  .image-container{
    width: 95%;
    margin: 3%;
  }
  .main-keywords{
    display: none;
  }
  .article-row {
    column-count: 1;
  }
  .full-article{
    width: 100%;
    font-size: 2vh;
  }
  .full-article h1{
    font-size: 3vh;
    margin-top: 7vh;
  }
  .full-article .image-container{
    width: 100%;
    font-size: 1vh;
  }
}

@media (min-width: 221px) and (max-width: 369px) {
  body {
    margin-top: 25%;
  }
  .main-article {
    margin-left: 10%;
    width: 80%;
  }
  .image-container{
    width: 95%;
    margin: 3%;
  }
  .main-keywords{
    display: none;
  }
  .article-row {
    column-count: 1;
  }
  .full-article{
    width: 100%;
    font-size: 3vh;
    
  }
  .full-article h1{
    font-size: 4vh;
    margin-top: 6vh;
  }
  .full-article .image-container{
    width: 100%;
    font-size: 3vh;
  }
}

@media (min-width: 370px) and (max-width: 575px) {
  body {
    margin-top: 18%;
  }
  .main-article {
    margin-left: 10%;
    width: 80%;
  }
  .image-container{
    width: 95%;
    margin: 3%;
  }
  .main-keywords{
    display: none;
  }
  .article-row {
    column-count: 1;
  }
  .full-article{
    width: 100%;
    font-size: 3vh;
  }
  .full-article h1{
    font-size: 6vh;
    margin-top: 9vh;
  }
  .full-article .image-container{
    width: 90%;
    font-size: 3vh;
    margin: 5vh auto;
  }
}

@media (min-width: 576px) and (max-width: 766px) {
  body {
    margin-top: 12%;
  }
  .image-container{
    width: 95%;
    margin: 3%;
  }
  .article-row {
    column-count: 2;
  }
  .full-article{
    width: 80%;
    font-size: 3vh;
  }
  .full-article .image-container{
    width: 85%;
    font-size: 3vh;
  }
}
@media (min-width: 767px) and (max-width: 1046px) {
  body {
    margin-top: 12%;
  }
  .image-container{
    width: 95%;
    margin: 3%;
  }
  .article-row {
    column-count: 2;
  }
}
